body {
  font-family: Arial, sans-serif;
  background-color: #FFFFE0;
}

h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 36px;
  color: #333;
}

table {
  margin: 0 auto;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.square {
  width: 130px;
  height: 130px;
  border: 2px solid #333;
  text-align: center;
  vertical-align: middle;
  font-size: 60px;
  font-weight: bold;
  background-color: #eee;
  transition: all 0.2s ease-in-out;
}

.square:hover {
  background-color: #ddd;
  cursor: pointer;
}

#opponent-choice {
}

#results {
  text-align: center;
  font-size: 18px;
  color: #333;
}

#reset {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: lightgray;
  color: black;
  border: 2px solid gray;
  border-radius: 8px;
  cursor: pointer;
  width: 120px;
  transition: all 0.2s ease-in-out;
}

#reset:hover {
  background-color: gray;
  cursor: pointer;
}
